coding.code-workspace
CNN Assignment Notes_V1.pdf
Skin cancer ISIC The International Skin Imaging Collaboration/
Starter_code_Assignment_CNN_Skin_Cancer (1) (1).ipynb:Zone.Identifier
Starter_code_Assignment_CNN_Skin_Cancer_(1)_(1).ipynb:Zone.Identifier
convolution_mnist_convnet.ipynb
convolution_mnist_convnet.ipynb:Zone.Identifier
README+(1).md
README+(1).md:Zone.Identifier
CNN Assignment Notes_V1.pdf:Zone.Identifier
Starter_code_Assignment_CNN_Skin_Cancer (1).ipynb:Zone.Identifier
Starter_code_Assignment_CNN_Skin_Cancer (1).ipynb
workspace.code-workspace
convolution neural network.code-workspace
flower_data_augmentation.ipynb
flower_data_augmentation.ipynb:Zone.Identifier
model.png
classes.png
convolution_neural_network.code-workspace
my_tensorflow_env
venv
cuda-keyring_1.1-1_all.deb
nv-tensorrt-local-repo-ubuntu2204-8.6.0-cuda-11.8_1.0-1_amd64.deb
graph.png
DuyKhang_nn/Duy_Khang_nn.ipynb
ISIC_0025314.jpg